    <div class="recorder container">
      <p>Join The Conversation!</p>
    
      <h2>Record</h2>
      <p>Record monitor volume: <input type="range" max="1" step="0.1" value="0" onchange="changeVolume(this.value)"/></p>
      <p>
        <button class="btn btn-primary" onclick="startRecording(this);">Record</button>
        <button class="btn btn-warning" onclick="stopRecording(this);" disabled>Stop</button>
      </p>
      
      <table id="recordingslist">
        <tr>
          <th>Sound</th>
          <th></th>
          <th></th>
        </tr>
      
      </table>
    </div>