<div id="recorder_container">
  <h2>Join The Conversation!</h2> 

  <h5 id ="user_placehold">Commenting as <span>Brandon</span></h5> 


  <p>Monitor volume: <input type="range" max="1" step="0.1" value="0" onchange="changeVolume(this.value)"/></p>
  <p> <button id="start" class="btn btn-primary" onclick="startRecording(this);">Record</button>
      <button id="stop" class="btn btn-warning" onclick="stopRecording(this);" disabled>Stop</button></p>
  <table id="recordingslist">
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </table>

  <h3> Audio Comments </h3>

  <table class='comments'>
  <% @comments.each do |comment| %>
    <tr class="soundBite">
    <td><%= comment.name %></td>
    <td><audio controls="" src="/audio/<%= comment.clip %>"</audio></td>
    </tr>
  <% end %>
  </table>

</div>

