/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require twitter/bootstrap
 *= require_tree .
 */


body {
	margin:50px 0px; padding:0px;
	text-align:center;
	}
	
.margin_top_10 {
	margin-left: 120px;
	margin-top: -50px;
}

#blog_content {
	width:700px;
	margin:0px auto;
  margin-bottom: 20px;
	/*text-align:left;*/
	padding:15px;
	border:1px dashed #333;
	background-color:#eee;
	}


#entry_body {
	text-align:left;
}

.commentBox {
	border:1px dashed #333;
	height: 400px;
}

#comments {
	margin:0px auto;
}

.done-true {
  text-decoration: line-through;
  color: grey;
}

.float_left {
  width: 45px;
  margin-left: 0px; 
  margin-bottom: 0px;
}

.arianna {
  margin-left: -40px;
  }

#recorder_container{
  width:700px;
  margin:0px auto;
  margin-bottom: 20px;
  margin-top: 20px;
  /*text-align:left;*/
  padding:15px;
  border:1px dashed #333;
}

#posted{
  margin-bottom: 30px;
}

#instructions {
  margin-left: 40px;
  margin-right: 40px;
}

#recordingslist {
	margin:0px auto;
	padding:15px;
	background-color:#eee;
	}

.soundBite input {
  margin-right: 4px;
 }

#user_placehold span {
  color: #428bca
}


ul
{
  list-style-type: none;
  margin-left: -20px;
}

#name {
  height: 30px;
  width: 80px;
  display: inline-block;
  font-size: 16px;
}


#audio {
  display: inline-block;
}